<h2>Season <%= @year %> Leaderboard:</h2>

<script type="text/javascript" id="js">$(document).ready(function() {
  // call the tablesorter plugin
  $("table").tablesorter({
    // sort on the first column and third column, order asc
    sortList: [[1,1]]
  });
}); </script>

<table class="TFtable" data-toggle="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th width=50px>Paid</th>
    </tr>
  </thead>
  <tbody>
  <% User.where(approved: true).order(name: :asc).each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= Tip.joins(:race).where(user_id: u.id, 'races.year' => @year).sum(:race_total_points) %></td>
      <% if u.userdatum.where(season: @year).present? then %>
        <% if u.userdatum.where(season: @year).first.fee_paid > 0 then %>
        <td style=background-color:lightgreen ></td>
        <% else %>
          <td style=background-color:yellow ></td>
        <% end %>
      <% else %>
        <td style=background-color:yellow ></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% if User.find_by(admin: true).nil? %>
<p>STEP 1: Account upgrade tool: <%= button_to 'Account Upgrade', home_account_upgrade_path, method: :post %></p>
<% end %>

<% if current_user.admin? %>
  <% if params[:year].present? then %>
    <p></p>
    <h2>Season <%= @year %> ADMIN Section:</h2>
    <p>STEP 2: Fetch drivers tool: <%= button_to 'Fetch Drivers', home_fetch_drivers_path, method: :post %></p>
    <p>STEP 3: Fetch races tool: <%= button_to 'Fetch Races', home_fetch_races_path, method: :post %></p>
    <p>STEP 3b: Fetch track svg images: <%= button_to 'Fetch Track SVG', home_fetch_track_svg_path, method: :post %></p>
    <p>STEP 4: Update race start date / time tool: <%= button_to 'Update Race Start Date/Time Data', home_update_race_start_path, method: :post %></p>
    <p>STEP 5: Update Points Table tool: <%= button_to 'Update Points Table', home_update_points_table_path, method: :post %></p>
    <p>Fetch drivers by races tool: <%= button_to 'Fetch Drivers by Races', home_fetch_drivers_by_races_path, method: :post %></p>
    <p>Fetch drivers by championship: <%= button_to 'Fetch Drivers by Championship', home_fetch_drivers_by_championship_path, method: :post %></p>
    <p>Fetch results tool (please be patient as this can take some time to complete): <%= button_to 'Fetch Results', home_fetch_results_action_path, method: :post %></p>
    <p>Update race tip points tool: <%= button_to 'Update Race Tip Points', home_update_race_tip_points_path, method: :post %></p>
    <p>Update User Data and Tipping Fees: <%= button_to 'Update User Data', userdata_path, method: :get %></p>
    <p>Fetch last quali results by ergast API tool: <%= button_to 'Fetch Results', home_fetch_last_quali_results_ergast_api_path, method: :post %></p>
    <p>Fetch last race results by ergast API tool: <%= button_to 'Fetch Results', home_fetch_last_race_results_ergast_api_path, method: :post %></p>

  <% else %>
    <p></p>
    <h2>ADMIN Section:</h2>
    <p><%= button_to '2019 Season Admin Page', home_index_path("2019"), method: :get, class: "btn", style: "color:red" %></p>
    <p><%= button_to '2020 Season Admin Page', home_index_path("2020"), method: :get, class: "btn", style: "color:red" %></p>
    <p><%= button_to '2021 Season Admin Page', home_index_path("2021"), method: :get, class: "btn", style: "color:red" %></p>

    <h4>Users Pending Admin Approval</h4>
    <%= button_to "All Users", :action => "index" %> | <%= button_to "Users awaiting approval", :action => "index", :approved => "false" %>

    <table class="TFtable" data-toggle="table">
    <% @users.sort_by { |k| k[:created_at] }.reverse.each do |user| %>
      <tr>
        <td><%= user.email %>
        <td><%= user.approved %>
        <td><%= user.created_at.strftime("%d/%m/%y") %>
        <td><%= button_to "Edit", edit_user_path(user), method: :get, class: "btn" %>
      </tr>
    <% end %>
    </table>
    <p>Debug: @year = <%= @year %></p>
  <% end %>
  <% console if Rails.env.development? == true %>
<% end %>