<p id="notice"><%= notice %></p>

<h1>Formula 1 - Kuntry Tippers</h1>
<p>Registered Tipsters:</p>

<table>
  <thead>
    <tr>
      <th>User</th>      
	  <th>email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
		<td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_user.admin? %>
<h2>ADMIN Section:</h2>
<p>Fetch results tool (please be patient as this can take some time to complete): <%= link_to 'Fetch Results', home_fetch_results_action_path, method: :post %></p>
<p>Update race tip points tool: <%= link_to 'Update Race Tip Points', home_update_race_tip_points_path, method: :post %>
<% end %>

