<p id="notice"><%= notice %></p>

<h1>Formula 1 - Kuntry Tippers</h1>
<h2>Leaderboard:</h2>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <% User.all.order(name: :asc).each do |u| %>
  <tbody>
    <tr>
      <td><%= u.name %></td>
      <td><%= Tip.where(user_id: u.id).sum(:race_total_points) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
<h2>ADMIN Section:</h2>
<p>Fetch results tool (please be patient as this can take some time to complete): <%= link_to 'Fetch Results', home_fetch_results_action_path, method: :post %></p>
<p>Update race tip points tool: <%= link_to 'Update Race Tip Points', home_update_race_tip_points_path, method: :post %>
<% end %>

