<p id="notice"><%= notice %></p>

<style type="text/css">
.TFtable{
  width:100%; 
  border-collapse:collapse; 
}
.TFtable thead{ 
  padding:7px; text-align: centre; border:#4e95f4 1px solid; 
}
.TFtable td{ 
  padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
  background: #e8e5e5; border:#4e95f4 1px solid;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
  background: #f7f4f4;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
  background: #e5e5e5;
}
.TFtable tr:hover {background-color: #c6c4c4;}
</style>

<div style="overflow-x:auto;">

<h1>Formula 1 - Kuntry Tippers</h1>
<h2>Leaderboard:</h2>

<table class="TFtable">
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <% User.all.order(name: :asc).each do |u| %>
  <tbody>
    <tr>
      <td><%= u.name %></td>
      <td><%= Tip.where(user_id: u.id).sum(:race_total_points) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>

<% if User.find_by(admin: true).nil? %>
<p>STEP 1: Account upgrade tool: <%= link_to 'Account Upgrade', home_account_upgrade_path, method: :post %></p>
<% end %>

<% if current_user.admin? %>

<h2>ADMIN Section:</h2>
<p>STEP 2: Fetch drivers tool: <%= link_to 'Fetch Drivers', home_fetch_drivers_path, method: :post %></p>
<p>STEP 3: Fetch races tool: <%= link_to 'Fetch Races', home_fetch_races_path, method: :post %></p>
<p>STEP 4: Update race start date / time tool: <%= link_to 'Update Race Start Date/Time Data', home_update_race_start_path, method: :post %></p>
<p>Fetch results tool (please be patient as this can take some time to complete): <%= link_to 'Fetch Results', home_fetch_results_action_path, method: :post %></p>
<p>Update race tip points tool: <%= link_to 'Update Race Tip Points', home_update_race_tip_points_path, method: :post %></p>

<% end %>
