<p id="notice"><%= notice %></p>

<h1>Admin Tips</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tips.each do |admin_tip| %>
      <tr>
        <td><%= link_to 'Show', admin_tip %></td>
        <td><%= link_to 'Edit', edit_admin_tip_path(admin_tip) %></td>
        <td><%= link_to 'Destroy', admin_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Tip', new_admin_tip_path %>
