

<h1>SEASON <%= @year %> Tips</h1>
<div style="overflow-x:auto;">
<table class="TFtable">
  <thead class="TFtable">
    <th colspan="3"></th>
    <th colspan="3">Qualificaitons</th>
    <th colspan="4">Race</th>
    <th colspan="4"></th>
  </thead>
  <thead class="TFtable">
    <tr class+"TFtable">
      <th>User</th>
      <th>Race</th>
      <th>Country</th>
      <th>Q 1st</th>
      <th>Q 2nd</th>
      <th>Q 3rd</th>
      <th>R 1st</th>
      <th>R 2nd</th>
      <th>R 3rd</th>
      <th>R 10th</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tips.order(:race_id).each do |tip| %>
      <tr>
        <td><%= tip.user.name %></td>
		    <td><%= tip.race.race_number %></td>
        <td><%= tip.race.country %></td>
        <td style="color:<%= if tip.qual_first_points == nil then "black" elsif tip.qual_first_points == Point.find_by(item: "q1st").points then "#2a8e01" elsif tip.qual_first_points == 0 then "#e20202" elsif tip.qual_first_points > 0 then "#0792ef" end %>" ><%= tip.qual_first %> | <%= tip.qual_first_points %></td>
        <td style="color:<%= if tip.qual_second_points == nil then "black" elsif tip.qual_second_points == Point.find_by(item: "q2nd").points then "#2a8e01" elsif tip.qual_second_points == 0 then "#e20202" elsif tip.qual_second_points > 0 then "#0792ef" end %>" ><%= tip.qual_second %> | <%= tip.qual_second_points %></td>
        <td style="color:<%= if tip.qual_third_points == nil then "black" elsif tip.qual_third_points == Point.find_by(item: "q3rd").points then "#2a8e01" elsif tip.qual_third_points == 0 then "#e20202" elsif tip.qual_third_points > 0 then "#0792ef" end %>" ><%= tip.qual_third %> | <%= tip.qual_third_points %></td>
        <td style="color:<%= if tip.race_first_points == nil then "black" elsif tip.race_first_points == Point.find_by(item: "r1st").points then "#2a8e01" elsif tip.race_first_points == 0 then "#e20202" elsif tip.race_first_points > 0 then "#0792ef" end %>" ><%= tip.race_first %> | <%= tip.race_first_points %></td>
        <td style="color:<%= if tip.race_second_points == nil then "black" elsif tip.race_second_points == Point.find_by(item: "r2nd").points then "#2a8e01" elsif tip.race_second_points == 0 then "#e20202" elsif tip.race_second_points > 0 then "#0792ef" end %>" ><%= tip.race_second %> | <%= tip.race_second_points %></td>
        <td style="color:<%= if tip.race_third_points == nil then "black" elsif tip.race_third_points == Point.find_by(item: "r3rd").points then "#2a8e01" elsif tip.race_third_points == 0 then "#e20202" elsif tip.race_third_points > 0 then "#0792ef" end %>" ><%= tip.race_third %> | <%= tip.race_third_points %></td>
        <td style="color:<%= if tip.race_tenth_points == nil then "black" elsif tip.race_tenth_points == Point.find_by(item: "r10th").points then "#2a8e01" elsif tip.race_tenth_points == 0 then "#e20202" elsif tip.race_tenth_points > 0 then "#0792ef" end %>" ><%= tip.race_tenth %> | <%= tip.race_tenth_points %></td>
        <td><%= tip.race_total_points %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Show', tip_path(id: tip) %></td>
        <% end %>
        <td><%= if tip.race.ical_dtstart.future? then link_to 'Edit', edit_tip_path(id: tip) else "Closed" end %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Destroy', tip_path(id: tip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</dev>
<%= link_to 'New Tip', new_tip_path, class: "btn"%>

<% if current_user.admin? then %>
<p>Debug: @year = <%= @year %></p>
<% end %>
</div>


