<h2 align=center><%= @year %> Tips</h2>

<script type="text/javascript" id="js">
$(document).ready(function () {
  $('.tablesorter').tablesorter({
    sortList: [[8,1]],
    headerTemplate : '{content} {icon}',
    widgets: [ 'scroller' ],
    widgetOptions : {
      // scroll tbody to top after sorting
      scroller_upAfterSort: false,
      // pop table header into view while scrolling up the page
      scroller_jumpToHeader: false,
      scroller_height : 400,
      // set number of columns to fix
      scroller_fixedColumns : 1,
      // add a fixed column overlay for styling
      scroller_addFixedOverlay : true,
      // add hover highlighting to the fixed column (disable if it causes slowing)
      scroller_rowHighlight : 'hover',
      // bar width is now calculated; set a value to override
      // scroller_barWidth : null
    }
  });
  
  // trigger window resize on carousel slide even to correct table when using tablesorter slider widget
  $('#TipControls').on('slide.bs.carousel', function () {
    $(window).resize();
  });

});
</script>


<style>
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
  background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #4e95f4;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
  right: 0;
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 0px 0 0px;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
  /* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
  /* white-space: nowrap; */
  /* Add min column width, or "Index" column filter gets too narrow to use */
  min-width: 60px;
}

</style>

<% @race=Race.where(year: @year).order(race_number: :asc) %>
<% @next_race= Race.where("ical_dtstart >= ?", Time.now - 1.day - 3.hours).order(ical_dtstart: :asc).first%>

<div id="TipControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
      <% @race.each do |r| %>
      <% if r.race_number == @next_race.race_number then %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
      <h5 align=center>Race <%= r.race_number.to_s + " - " + r.country  %></h5>
      
      <table class="tablesorter" id="fixed-columns-table">
        <thead class="TFtable">
          <tr class="TFtable">
            <th style="text-align:center; border:#4e95f4 1px solid">User</th>
            <th style="text-align:center; border:#4e95f4 1px solid">Q1</th>
            <th style="text-align:center; border:#4e95f4 1px solid">Q2</th>
            <th style="text-align:center; border:#4e95f4 1px solid">Q3</th>
            <th style="text-align:center; border:#4e95f4 1px solid">R1</th>
            <th style="text-align:center; border:#4e95f4 1px solid">R2</th>
            <th style="text-align:center; border:#4e95f4 1px solid">R3</th>
            <th style="text-align:center; border:#4e95f4 1px solid">R10</th>
            <th style="text-align:center; border:#4e95f4 1px solid">Points</th>
            <th style="text-align:center; border:#4e95f4 1px solid">Action</th>
          </tr>
        </thead>
        <tbody class="TFtable">
          <% if current_user.admin? then %>
            <% @tips = Tip.joins(:race).where("races.year = ? AND race_id = ?", @year, r.id) %>
          <% elsif r.ical_dtstart >= Time.now then %>
            <% @tips = Tip.joins(:race).where("races.year = ? AND user_id = ? AND race_id = ?", @year, current_user.id, r.id) %>
          <% else %>
            <% @tips = Tip.joins(:race).where("races.year = ? AND race_id = ?", @year, r.id) %>
          <% end %>
          <% @tips.each do |tip| %>
            <tr>
              <td><%= tip.user.name %></td>
              <!-- <td style="text-align:center"><%= tip.race.race_number %></td> -->
              <!-- <td><%= tip.race.country %></td> -->
              <td style="color:<%= if tip.qual_first_points == nil then "black" elsif tip.qual_first_points == Point.find_by(item: "q1st").points then "#2a8e01" elsif tip.qual_first_points == 0 then "#e20202" elsif tip.qual_first_points > 0 then "#0792ef" end %>" ><%= tip.qual_first %> | </br><%= tip.qual_first_points %></td>
              <td style="color:<%= if tip.qual_second_points == nil then "black" elsif tip.qual_second_points == Point.find_by(item: "q2nd").points then "#2a8e01" elsif tip.qual_second_points == 0 then "#e20202" elsif tip.qual_second_points > 0 then "#0792ef" end %>" ><%= tip.qual_second %> | </br><%= tip.qual_second_points %></td>
              <td style="color:<%= if tip.qual_third_points == nil then "black" elsif tip.qual_third_points == Point.find_by(item: "q3rd").points then "#2a8e01" elsif tip.qual_third_points == 0 then "#e20202" elsif tip.qual_third_points > 0 then "#0792ef" end %>" ><%= tip.qual_third %> | </br><%= tip.qual_third_points %></td>
              <td style="color:<%= if tip.race_first_points == nil then "black" elsif tip.race_first_points == Point.find_by(item: "r1st").points then "#2a8e01" elsif tip.race_first_points == 0 then "#e20202" elsif tip.race_first_points > 0 then "#0792ef" end %>" ><%= tip.race_first %> | </br><%= tip.race_first_points %></td>
              <td style="color:<%= if tip.race_second_points == nil then "black" elsif tip.race_second_points == Point.find_by(item: "r2nd").points then "#2a8e01" elsif tip.race_second_points == 0 then "#e20202" elsif tip.race_second_points > 0 then "#0792ef" end %>" ><%= tip.race_second %> | </br><%= tip.race_second_points %></td>
              <td style="color:<%= if tip.race_third_points == nil then "black" elsif tip.race_third_points == Point.find_by(item: "r3rd").points then "#2a8e01" elsif tip.race_third_points == 0 then "#e20202" elsif tip.race_third_points > 0 then "#0792ef" end %>" ><%= tip.race_third %> | </br><%= tip.race_third_points %></td>
              <td style="color:<%= if tip.race_tenth_points == nil then "black" elsif tip.race_tenth_points == Point.find_by(item: "r10th_bonus").points then "#2a8e01" elsif tip.race_tenth_points == 0 then "#e20202" elsif tip.race_tenth_points > 0 then "#0792ef" end %>" ><%= tip.race_tenth %> | </br><%= tip.race_tenth_points %></td>
              <td style="text-align:center"><%= tip.race_total_points %></td>
              <td><%= if current_user.admin? then link_to 'Edit', edit_tip_path(id: tip) elsif tip.race.ical_dtstart.future? then link_to 'Edit', edit_tip_path(id: tip) else "Closed" end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#TipControls" role="button" data-slide="prev" style="bottom: 100%;">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url(&quot;data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#339DFF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E&quot;);"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#TipControls" role="button" data-slide="next" style="bottom: 100%;">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url(&quot;data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#339DFF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E&quot;);"></span>
    <span class="sr-only">Next</span>
  </a>

</br>

<%= link_to 'New Tip', new_tip_path, class: "btn btn-primary"%>

</br>
</div>