<!DOCTYPE html>
<style>
/* unvisited link */
a:link {
    color: grey;
		
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: black;
		font-weight: bold;
}

/* selected link */
a:active {
    color: yellow;
}
</style>

<html>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
	<div class="container-fluid">
		<head>
			<title>F1 Tips</title>
			<%= csrf_meta_tags %>

			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
			<style><%= yield :stylesheets %></style>
		</head>

		<body>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
				<%= link_to "F1 Tips", root_path, style: "color:black", class: "btn btn-inverse"%>
				<% if user_signed_in? %>

				<% else %>

				<% end %>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<%= link_to "Home", root_path, style: "color:black", class: "btn btn-inverse"%>
				</li>
				<% if user_signed_in? %>
				<li class="nav-item active">
					<%= link_to "Tips", tips_path(if @year.nil? then Time.current.year.to_s else @year end), class: "btn" %>
				</li>
				<li>
					<%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-inverse" %>
				</li>
				<li class="nav-item">
					<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-inverse" %>
				</li>
				<% else %>
				<li class="nav-item active pull-right">
					<a><%= link_to "Sign up", new_user_registration_path, class: "btn btn-inverse hover"%></a>
				</li>
				<li class="nav-item active pull-right">
					<%= link_to "Login", new_user_session_path, class: "btn btn-inverse"%>
				</li>
				</ul>
				<% end %>
				</div>
			</nav>

			<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
			<% end %>
			
			<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
			<% end %>
			
			<%#= image_tag "f1-cartoon.jpg" %>
			<%= yield %>
		</body>
	</div>
</html>