<!DOCTYPE html>
<style>
/* mouse over link */
a:hover {
    color: black;
		font-weight: bold;
}
</style>

<html>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<head>
		<title>F1 Tips</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<style><%= yield :stylesheets %></style>
	</head>

	<body>
		<nav class="navbar sticky-top navbar-expand-md navbar-dark <%= 'bg-primary' if Rails.env.development? == false %>" <%= 'style=background-color:red;' if Rails.env.development? %>>
			<%= link_to "F1 Tips", root_path, style: "color:white", class: "btn btn-inverse"%>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<% if user_signed_in? %>
			<li class="nav-item active">
				<%= link_to "Tips", tips_path(if @year.nil? then Time.current.year.to_s else @year end), style: "color:white", class: "btn" %>
			</li>
			<li class="nav-item active pull-right">
				<%= link_to "Rules", "/pages/rules", style: "color:white", class: "btn btn-inverse"%>
			</li>
			<li class="nav-item active pull-right">
				<%= link_to "Race Results", "/pages/raceresults", style: "color:white", class: "btn btn-inverse"%>
			</li>
			<li>
				<%= link_to 'Edit profile', edit_user_registration_path, style: "color:white", class: "btn btn-inverse" %>
			</li>
			<li class="nav-item">
				<%= link_to "Logout", destroy_user_session_path, method: :delete, style: "color:white", class: "btn btn-inverse" %>
			</li>
			<% else %>
			<li class="nav-item active pull-right">
				<a><%= link_to "Sign up", new_user_registration_path, style: "color:white", class: "btn btn-inverse hover"%></a>
			</li>
			<li class="nav-item active pull-right">
				<%= link_to "Login", new_user_session_path, style: "color:white", class: "btn btn-inverse"%>
			</li>
			</ul>
			<% end %>
			</div>
		</nav>
    <% if request.path_info.exclude?('users')%>
		<% if user_signed_in? %>
    <% @next_race = Race.where("ical_dtstart >= ?", Time.now).order(ical_dtstart: :asc).first %>
    <div class="row no-gutters" style="background-image: url(<%= asset_path 'carbon-black.jpg' %>) ">
      <div class="col">
        <!-- svg track images originally sourced from http://www.skysports.com/f1/grandprix/azerbaijan/circuit-guide -->
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="175" viewBox="0 0 500 375" fill=red stroke-width=0 class="f1-svg-track">
          <path class="f1-svg-track__outline" d="<%= @next_race.img %>"></path>
        </svg>
      </div>
      <div class="col" style="margin-left:40px">
        </br><h4 class="text-white">Next Race</h4>
        <h6 class="text-white">Race <%= @next_race.race_number %> | <%= @next_race.country %></h6></br>
        <h6 class="text-white">Qualifing Session Start:</h6>
        <h6 class="text-white"><%= @next_race.ical_dtstart.strftime("%A, %B%e %R") %></h6>
      </div>
    </div>
    <% end %>
    <% end %>
  	<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>

    <div class="container-fluid">
  		<%= yield %>
  	</div>
	</body>
</html>